<div class="checkout-detail-container">
  <ng-container *ngIf="editCheckout; else elseTemplate"
    ><app-checkout-form />
  </ng-container>
  <ng-template #elseTemplate>
    <h1>{{ checkoutDetails.borrowedBook.title }}</h1>
    <div>
      <span class="book-label">Borrower: </span
      >{{
        checkoutDetails.borrowerFirstName +
          " " +
          checkoutDetails.borrowerLastName
      }}
    </div>
    <div>
      <span class="book-label">Checked out: </span
      >{{ checkoutDetails.checkedOutDate | date }}
    </div>
    <div>
      <span class="book-label">Due date: </span
      >{{ checkoutDetails.dueDate | date }}
    </div>
    <br />
    <button mat-raised-button color="Primary" (click)="openDeleteDialog()">
      Delete
    </button>
    <br />
    <button mat-raised-button color="Primary" (click)="editCheckout = true">
      Edit
    </button>
  </ng-template>
</div>
